body {
    background-image: url("../res/img/web-bg.png");
    background-color: #f7f7f7;
}

textarea {
    resize: none;
}
.panel-login {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
}

.navbar-default {
    border-top-width: 2px;
    border-top-color: #ff0000;
}

.padd-0{
    padding: 0 0 0 0;
}

.panel {
    /*margin: 10px 5px 0 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}
.panel-white {
    background-color: #ffffff;
    border: 0.5px solid #d6d6d6;
}

.panel-red-top {
    border-top-width: 4px;
    border-top-color: #ff0000;
}

.panel-green-top {
    border-top-width: 4px;
    border-top-color: #00ff00;
}

.panel-blue-top {
    border-top-width: 4px;
    border-top-color: #0000ff;
}

.panel-transparent {
    background-color: transparent;
    border: 0.5px solid #d6d6d6;
}

.center {
    text-align: center;
}

.center-block {
    float: none;
}

.event-title {
    font-size: 2em;
}

.event-creator {
    font-size: 0.8em;
    color: #5b5b5b;
}

.voteBtn {
    vertical-align: top;
}

.poll-head {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poll-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-chip {
    display: inline-block;
    border-radius: 18px;
    padding: 0;
    height: 18px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .2s ease-out;
            transition: .2s ease-out;
}

.md-chip:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.md-chip-text {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    height: 18px;
    float: left;
    padding: 0px 8px 0px 8px;
    color: rgba(255, 255, 255, .87);
}

.md-chip-img {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    overflow: hidden;
    float: left;
    box-shadow: 1px 0px rgba(0,0,0,.3);
}

.md-chip-img .md-chip-span {
    display: block;
    height: 18px;
}

.md-chip-img img {
    -webkit-transform: translate(-50%);
    margin-left: 9px;
    height: 18px;
}

/* Colors */
.pink {
    background-color: #E91E63;
}

.orange {
    background-color: #ff9800;
}

.indigo {
    background-color: #3f51b5;
}

.teal {
    background-color: #009688;
}

.purple {
    background-color: #9C27B0;
}

.deep-purple {
    background-color: #512DA8;
}

.white {
    background-color: #fff;
}

.white .md-chip-text {
    color: rgba(0, 0, 0, .87);
}

.red {
    background-color: #f44336;
}

.blue {
    background-color: #2196f3
}

.green {
    background-color: #4caf50
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
